
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title> Blog Of Devil </title>


    <!--STYLESHEET-->
    <!--=================================================-->



    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="/css/nifty.min.css" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="/css/demo/nifty-demo-icons.min.css" rel="stylesheet">


    <!--=================================================-->



    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="/plugins/pace/pace.min.css" rel="stylesheet">
    <script src="/plugins/pace/pace.min.js"></script>


    <!--Demo [ DEMONSTRATION ]-->
    <link href="/css/demo/nifty-demo.min.css" rel="stylesheet">

    <link id="theme" href="/css/themes/type-b/theme-coffee.min.css" rel="stylesheet">

    <style type="text/css">
        @media (min-width: 768px){
            #content-container {
                padding-top: 0px;
            }

        }

            #content-container {
                padding-top: 0px;
            }

        .breadcrumb{
            font-size: 14px;
        }
    </style>

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
<div id="container" class="effect ">



    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
            <div id="page-head">

                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div id="page-title">
                    <h1 >&nbsp;&nbsp;welcome to Devil's blog</h1>
                </div>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->


                <!--Breadcrumb-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div class="row">
                    <div class="col-xs-4">
                        <ol class="breadcrumb" style="height: 59px;line-height: 59px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <li ><a href="#">  Nothing is True.</a></li>

                        </ol>

                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="">
                            <a href="pages-login.html">
                                <h3> 登录</h3>
                            </a>
                        </li>

                        <li><h3>  &nbsp;</h3></li>
                    </ul>
                    </div>

                </div>



                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End breadcrumb-->

                <div style="clear:both;">

                </div>

            </div>


            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">
                <div class="fixed-fluid">
                    <div class="fixed-sm-250 pull-sm-right">

                        <p class="pad-hor mar-top text-main text-bold text-sm text-uppercase">Categories</p>
                        <div class="list-group bg-trans pad-btm bord-btm">
                            <a href="/" class="list-group-item list-item-sm">Sports</a>
                            <a href="/" class="list-group-item list-item-sm">Movies</a>
                            <a href="/" class="list-group-item list-item-sm">Musics</a>
                            <a href="/" class="list-group-item list-item-sm">Internet</a>
                            <a href="/" class="list-group-item list-item-sm">Photography</a>
                        </div>

                        <p class="pad-hor mar-top text-main text-bold text-sm text-uppercase">Recent Post</p>
                        <div class="list-group bg-trans pad-btm bord-btm">
                            <div class="list-group-item list-item-sm"><a href="#" class="btn-link">Lorem ipsum dolor sit amet</a><small class="box-block">6 Hours ago</small></div>
                            <div class="list-group-item list-item-sm"><a href="#" class="btn-link">Consectetuer adipiscing elit</a><small class="box-block">2 days ago</small></div>
                            <div class="list-group-item list-item-sm"><a href="#" class="btn-link">Sed diam nonummy nibh </a><small class="box-block">7 days ago</small></div>
                            <div class="list-group-item list-item-sm"><a href="#" class="btn-link">Laoreet dolore magna aliquam erat volutpat.</a><small class="box-block">2 weeks ago</small></div>
                            <div class="list-group-item list-item-sm"><a href="#" class="btn-link">Ut wisi enim ad minim veniam</a><small class="box-block">3 weeks ago</small></div>
                            <div class="list-group-item list-item-sm"><a href="#" class="btn-link">Quis nostrud exerci tation</a><small class="box-block">2 month ago</small></div>
                        </div>


                        <p class="pad-hor mar-top text-main text-bold text-sm text-uppercase">Newsletter</p>
                        <p class="pad-hor">Sign up for our daily Newslatter</p>
                        <div class="input-group pad-all bord-btm">
                            <input type="text" placeholder="Your email" class="form-control">
                            <span class="input-group-btn">
					                     <button class="btn btn-primary add-tooltip" data-original-title="Send" type="button"><i class="demo-pli-paper-plane icon-lg"></i></button>
					                 </span>
                        </div>

                        <p class="pad-hor mar-top text-main text-bold text-sm text-uppercase">Tags</p>
                        <ul class="list-inline mar-hor pad-btm bord-btm">
                            <li class="tag tag-sm"><a href="#"><i class="demo-pli-tag"></i> Family</a></li>
                            <li class="tag tag-sm"><a href="#"><i class="demo-pli-tag"></i> Home</a></li>
                            <li class="tag tag-sm"><a href="#"><i class="demo-pli-tag"></i> Work</a></li>
                            <li class="tag tag-sm"><a href="#"><i class="demo-pli-tag"></i> Film</a></li>
                            <li class="tag tag-sm"><a href="#"><i class="demo-pli-tag"></i> Music</a></li>
                            <li class="tag tag-sm"><a href="#"><i class="demo-pli-tag"></i> Photography</a></li>
                        </ul>

                    </div>
                    <div class="fluid">

                        <div class="blog blog-list" id="bloglist">

                            <!-- Panel  Blog -->
                            <!--===================================================-->
                            <!--===================================================-->
                            <div class="panel bg-dark">
                                <div class="blog-content">
                                    <div class="blog-title media-block">
                                        <div class="media-body">
                                            <a href="/blog/detail1" class="btn-link">
                                                <h2>Far far away, behind the word mountains</h2>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="blog-body">
                                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. </p>
                                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. </p>
                                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. </p>
                                    </div>
                                </div>
                                <div class="blog-footer">
                                    <div class="media-left">

                                        <label class="label label-default">Family</label>

                                    </div>
                                    <div class="media-body text-right">
                                        <span class="mar-rgt"><i class="demo-pli-heart-2 icon-fw"></i>519</span>
                                        <i class="demo-pli-speech-bubble-5 icon-fw"></i>23
                                    </div>
                                </div>
                            </div>
                            <!--===================================================-->





                            <!-- Panel  Blog -->
                            <!--===================================================-->
                            <div class="panel bg-gray-dark">

                                <div class="blog-content">
                                    <div class="blog-title media-block">
                                        <a href="/blog/detail2" class="btn-link">
                                            <h2>Pride and Prejudice</h2>
                                        </a>
                                    </div>
                                    <div class="blog-body">
                                        <p><i>Because of this, Mrs Bennet is desperate to find husbands for her daughters. They will then no longer be a burden on her.</i></p>
                                        <p>Many people know the famous opening sentence of the book: “It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife.” This is of course a very ironic remark. What is really true in the time of the novel is this: Single women from poorer families are very interested in a man with a good fortune, or even just a little money. Since they cannot pay their own way in life, they must find a husband.</p>
                                    </div>
                                </div>
                                <div class="blog-footer">
                                    <br>
                                    <div class="media-left">
                                        <label class="label label-primary">Music</label>
                                        <label class="label label-default">New+</label>
                                    </div>
                                    <div class="media-body text-right">
                                        <span class="mar-rgt"><i class="demo-pli-heart-2 icon-fw"></i>65</span>
                                        <i class="demo-pli-speech-bubble-5 icon-fw"></i>8
                                    </div>
                                </div>
                            </div>

                            <!-- Panel  Blog -->
                            <!--===================================================-->

                            <div class="panel bg-light">
                                <div class="blog-content">
                                    <div class="blog-title media-block" >
                                        <div class="media-body">
                                            <a href="/blog/detail1" class="btn-link">
                                                <h2 style="color:#000;">Computer</h2>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="blog-body">
                                    <p>Computers have brought about many changes in our world. With the devek,pment of science and technology, the use of eleclronic computers is growing year by year in various fields of man' s activities. They have been of great help in scietific rescarch and engi neering They can do at a very high speed the calculations too </p>
                                        <p>complicated for a man to do in a few days or even in a few years.
                                            Once it is given a plogram, a computer can operate automatically at a high speed. Not only can the computer gather facts.it call aim store them as fast as they are gathered and can pour them our whenever they are needed.</p>
                                    </div>
                                </div>
                                <div class="blog-footer">
                                    <div class="media-left">
                                        <label class="label label-default">work</label>
                                    </div>
                                    <div class="media-body text-right">
                                        <span class="mar-rgt"><i class="demo-pli-heart-2 icon-fw"></i>999+</span>
                                        <i class="demo-pli-speech-bubble-5 icon-fw"></i>99+
                                    </div>
                                </div>
                            </div>


                            <ul class="pager pager-rounded">
                                <li class="previous"><a href="#fakelink">← Older</a></li>
                                <li class="next disabled"><a href="#fakelink">Newer →</a></li>
                            </ul>
                        </div>


                    </div>
                </div>

            </div>
            <!--===================================================-->
            <!--End page content-->

        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->





        <!--MAIN NAVIGATION-->
        <!--===================================================-->
        <nav id="mainnav-container">
            <div id="mainnav">


                <!--OPTIONAL : ADD YOUR LOGO TO THE NAVIGATION-->
                <!--It will only appear on small screen devices.-->
                <!--================================
                <div class="mainnav-brand">
                    <a href="index.html" class="brand">
                        <img src="img/logo.png" alt="Nifty Logo" class="brand-icon">
                        <span class="brand-text">Nifty</span>
                    </a>
                    <a href="#" class="mainnav-toggle"><i class="pci-cross pci-circle icon-lg"></i></a>
                </div>
                -->





            </div>
        </nav>
        <!--===================================================-->
        <!--END MAIN NAVIGATION-->

    </div>



    <!-- FOOTER -->
    <!--===================================================-->
    <footer id="footer">

        <!-- Visible when footer positions are fixed -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="show-fixed pad-rgt pull-right">
            You have <a href="#" class="text-main"><span class="badge badge-danger">3</span> pending action.</a>
        </div>



        <!-- Visible when footer positions are static -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="hide-fixed pull-right pad-rgt">
        </div>



        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <p class="pad-lft">&#0169; 2018 Your Company</p>



    </footer>
    <!--===================================================-->
    <!-- END FOOTER -->


    <!-- SCROLL PAGE BUTTON -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->
</div>
<!--===================================================-->
<!-- END OF CONTAINER -->





<!--JAVASCRIPT-->
<!--=================================================-->

<!--jQuery [ REQUIRED ]-->
<script src="/js/jquery.min.js"></script>


<!--BootstrapJS [ RECOMMENDED ]-->
<script src="/js/bootstrap.min.js"></script>


<!--NiftyJS [ RECOMMENDED ]-->
<script src="/js/nifty.min.js"></script>




<!--=================================================-->

<!--Demo script [ DEMONSTRATION ]-->
<script src="/js/demo/nifty-demo.min.js"></script>




</body>
<div th:fragment="scripts">
<script type="text/javascript">

    // $(function () {
    //
    //     $.ajax({
    //         striped : true, // 设置为true会有隔行变色效果
    //         method:"get",
    //         url:'/webapi/blogs/menu',
    //         success:function (data) {
    //             var len=data.length;
    //             var html="";
    //
    //             for(var i = 0; i <1; i++){
    //                 var item = data[i];
    //
    //                 html+=" <div class=\"panel\">\n" +
    //                     "                                <div class=\"blog-content\">\n" +
    //                     "                                    <div class=\"blog-title media-block\">\n" +
    //                     "                                        <div class=\"media-body\">\n" +
    //                     "                                            <a href=\"/blog/detail1\" class=\"btn-link\">\n" +
    //                     "                                                <h2>Far far away, behind the word mountains</h2>\n" +
    //                     "                                            </a>\n" +
    //                     "                                        </div>\n" +
    //                     "                                    </div>\n" +
    //                     "                                    <div class=\"blog-body\">\n" +
    //                     "                                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. </p>\n" +
    //                     "                                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. </p>\n" +
    //                     "                                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. </p>\n" +
    //                     "                                    </div>\n" +
    //                     "                                </div>\n" +
    //                     "                                <div class=\"blog-footer\">\n" +
    //                     "                                    <div class=\"media-left\">\n" +
    //                     "                                        <span class=\"label label-success\">5 Days ago</span>\n" +
    //                     "                                    </div>\n" +
    //                     "                                    <div class=\"media-body text-right\">\n" +
    //                     "                                        <span class=\"mar-rgt\"><i class=\"demo-pli-heart-2 icon-fw\"></i>519</span>\n" +
    //                     "                                        <i class=\"demo-pli-speech-bubble-5 icon-fw\"></i>23\n" +
    //                     "                                    </div>\n" +
    //                     "                                </div>\n" +
    //                     "                            </div>"+
    //                         "<div class=\"panel\">\n" +
    //                     "\n" +
    //                     "                                <div class=\"blog-content\">\n" +
    //                     "                                    <div class=\"blog-title media-block\">\n" +
    //                     "                                        <a href=\"/blog/detail2\" class=\"btn-link\">\n" +
    //                     "                                            <h2>Pride and Prejudice</h2>\n" +
    //                     "                                        </a>\n" +
    //                     "                                    </div>\n" +
    //                     "                                    <div class=\"blog-body\">\n" +
    //                     "                                        <p><i>Because of this, Mrs Bennet is desperate to find husbands for her daughters. They will then no longer be a burden on her.</i></p>\n" +
    //                     "                                        <p>Many people know the famous opening sentence of the book: “It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife.” This is of course a very ironic remark. What is really true in the time of the novel is this: Single women from poorer families are very interested in a man with a good fortune, or even just a little money. Since they cannot pay their own way in life, they must find a husband.</p>\n" +
    //                     "                                    </div>\n" +
    //                     "                                </div>\n" +
    //                     "                                <div class=\"blog-footer\">\n" +
    //                     "                                    <div class=\"bg-info blog-img-sm text-center\">\n" +
    //                     "                                        <h3 class=\"text-light\"><i class=\"demo-pli-mail-send icon-4x\"></i></h3>\n" +
    //                     "                                    </div>\n" +
    //                     "                                    <br>\n" +
    //                     "                                    <div class=\"media-left\">\n" +
    //                     "                                        <label class=\"label label-primary\">Feature</label>\n" +
    //                     "                                        <label class=\"label label-default\">New</label>\n" +
    //                     "                                        <label class=\"label label-default\">Modern</label>\n" +
    //                     "                                    </div>\n" +
    //                     "                                    <div class=\"media-body text-right\">\n" +
    //                     "                                        <span class=\"mar-rgt\"><i class=\"demo-pli-heart-2 icon-fw\"></i>65</span>\n" +
    //                     "                                        <i class=\"demo-pli-speech-bubble-5 icon-fw\"></i>8\n" +
    //                     "                                    </div>\n" +
    //                     "                                </div>\n" +
    //                     "                            </div>"
    //             }
    //             $("#bloglist").html(html);
    //
    //         }
    //         })
    // })

</script>
</div>
</html>
