
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title> 重庆工商大学计算机实验中心网站 </title>


    <!--STYLESHEET-->
    <!--=================================================-->



    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="/css/nifty.min.css" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="/css/demo/nifty-demo-icons.min.css" rel="stylesheet">


    <!--=================================================-->



    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="/plugins/pace/pace.min.css" rel="stylesheet">
    <script src="/plugins/pace/pace.min.js"></script>


    <!--Demo [ DEMONSTRATION ]-->
    <link href="/css/demo/nifty-demo.min.css" rel="stylesheet">

    <link id="theme" href="/css/themes/type-e/theme-dark.min.css" rel="stylesheet">

    <style type="text/css">
        @media (min-width: 768px){
            #content-container {
                padding-top: 0px;
            }

        }

            #content-container {
                padding-top: 0px;
            }

        .breadcrumb{
            font-size: 14px;
        }
    </style>

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
<div id="container" class="effect ">



    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
            <div id="page-head">

                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div id="page-title">
                    <h1 class="page-header text-overflow">重庆工商大学计算机实验中心网站




                    </h1>
                </div>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->


                <!--Breadcrumb-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div class="row">
                    <div class="col-xs-4">
                        <ol class="breadcrumb" style="height: 59px;line-height: 59px;">
                            <li><a href="/"><i class="demo-pli-home"></i></a>  实验、求实、求真</li>

                        </ol>

                    </div>
                    <div class="col-xs-8">

                        <ol class="nav  navbar-top-links pull-right" >





                            <!--User dropdown-->
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <li id="dropdown-user" class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right" aria-expanded="false">
                                <span class="ic-user pull-right">
                                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                    <!--You can use an image instead of an icon.-->
                                    <!--<img class="img-circle img-user media-object" src="img/profile-photos/1.png" alt="Profile Picture">-->
                                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                    <i class="demo-pli-male"></i>
                                </span>
                                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                    <!--You can also display a user name in the navbar.-->
                                    <!--<div class="username hidden-xs">Aaron Chavez</div>-->
                                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                </a>


                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default" style="">
                                    <ul class="head-list">
                                        <li>
                                            <a href="#"><i class="demo-pli-male icon-lg icon-fw"></i> Profile</a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="badge badge-danger pull-right">9</span><i class="demo-pli-mail icon-lg icon-fw"></i> Messages</a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="label label-success pull-right">New</span><i class="demo-pli-gear icon-lg icon-fw"></i> Settings</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="demo-pli-computer-secure icon-lg icon-fw"></i> Lock screen</a>
                                        </li>
                                        <li>
                                            <a href="pages-login.html"><i class="demo-pli-unlock icon-lg icon-fw"></i> Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <!--End user dropdown-->


                            <li class="">
                                <a href="#" class="aside-toggle">
                                    <i class="demo-pli-dot-vertical"></i>
                                </a>
                            </li>

                        </ol>


                    </div>

                </div>



                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End breadcrumb-->

                <div style="clear:both;">

                </div>

            </div>


            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">
                <div class="fixed-fluid">
                    <div class="fixed-sm-250 pull-sm-right">

                        <p class="pad-hor mar-top text-main text-bold text-sm text-uppercase">Categories</p>
                        <div class="list-group bg-trans pad-btm bord-btm">
                            <a href="#" class="list-group-item list-item-sm">Sports</a>
                            <a href="#" class="list-group-item list-item-sm">Movies</a>
                            <a href="#" class="list-group-item list-item-sm">Musics</a>
                            <a href="#" class="list-group-item list-item-sm">Internet</a>
                            <a href="#" class="list-group-item list-item-sm">Photography</a>
                        </div>

                        <p class="pad-hor mar-top text-main text-bold text-sm text-uppercase">Recent Post</p>
                        <div class="list-group bg-trans pad-btm bord-btm">
                            <div class="list-group-item list-item-sm"><a href="#" class="btn-link">Lorem ipsum dolor sit amet</a><small class="box-block">6 Hours ago</small></div>
                            <div class="list-group-item list-item-sm"><a href="#" class="btn-link">Consectetuer adipiscing elit</a><small class="box-block">2 days ago</small></div>
                            <div class="list-group-item list-item-sm"><a href="#" class="btn-link">Sed diam nonummy nibh </a><small class="box-block">7 days ago</small></div>
                            <div class="list-group-item list-item-sm"><a href="#" class="btn-link">Laoreet dolore magna aliquam erat volutpat.</a><small class="box-block">2 weeks ago</small></div>
                            <div class="list-group-item list-item-sm"><a href="#" class="btn-link">Ut wisi enim ad minim veniam</a><small class="box-block">3 weeks ago</small></div>
                            <div class="list-group-item list-item-sm"><a href="#" class="btn-link">Quis nostrud exerci tation</a><small class="box-block">2 month ago</small></div>
                        </div>


                        <p class="pad-hor mar-top text-main text-bold text-sm text-uppercase">Newsletter</p>
                        <p class="pad-hor">Sign up for our daily Newslatter</p>
                        <div class="input-group pad-all bord-btm">
                            <input type="text" placeholder="Your email" class="form-control">
                            <span class="input-group-btn">
					                     <button class="btn btn-primary add-tooltip" data-original-title="Send" type="button"><i class="demo-pli-paper-plane icon-lg"></i></button>
					                 </span>
                        </div>

                        <p class="pad-hor mar-top text-main text-bold text-sm text-uppercase">Tags</p>
                        <ul class="list-inline mar-hor pad-btm bord-btm">
                            <li class="tag tag-sm"><a href="#"><i class="demo-pli-tag"></i> Family</a></li>
                            <li class="tag tag-sm"><a href="#"><i class="demo-pli-tag"></i> Home</a></li>
                            <li class="tag tag-sm"><a href="#"><i class="demo-pli-tag"></i> Work</a></li>
                            <li class="tag tag-sm"><a href="#"><i class="demo-pli-tag"></i> Film</a></li>
                            <li class="tag tag-sm"><a href="#"><i class="demo-pli-tag"></i> Music</a></li>
                            <li class="tag tag-sm"><a href="#"><i class="demo-pli-tag"></i> Photography</a></li>
                        </ul>

                        <p class="pad-hor mar-top text-main text-bold text-sm text-uppercase">Recent Comments</p>
                        <div class="list-group bg-trans">
                            <a href="#" class="list-group-item">
                                <div class="media-left pos-rel">
                                    <img class="img-circle img-xs" src="img/profile-photos/2.png" alt="Profile Picture">
                                    <i class="badge badge-success badge-stat badge-icon pull-left"></i>
                                </div>
                                <div class="media-body">
                                    <p class="mar-no text-main">Stephen Tran</p>
                                    <small>5 minutes ago</small>
                                    <p class="pad-top text-sm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="media-left pos-rel">
                                    <img class="img-circle img-xs" src="img/profile-photos/7.png" alt="Profile Picture">
                                </div>
                                <div class="media-body">
                                    <p class="mar-no text-main">Brittany Meyer</p>
                                    <small>9 minutes ago</small>
                                    <p class="pad-top text-sm">I think so</p>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="media-left pos-rel">
                                    <img class="img-circle img-xs" src="img/profile-photos/1.png" alt="Profile Picture">
                                    <i class="badge badge-info badge-stat badge-icon pull-left"></i>
                                </div>
                                <div class="media-body">
                                    <p class="mar-no text-main">Jack George</p>
                                    <small>2 hours ago</small>
                                    <p class="pad-top text-sm">sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="media-left pos-rel">
                                    <img class="img-circle img-xs" src="img/profile-photos/4.png" alt="Profile Picture">
                                </div>
                                <div class="media-body">
                                    <p class="mar-no text-main">Donald Brown</p>
                                    <small>3 hours ago</small>
                                    <p class="pad-top text-sm">Ut wisi enim ad minim veniam</p>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="media-left pos-rel">
                                    <img class="img-circle img-xs" src="img/profile-photos/8.png" alt="Profile Picture">
                                    <i class="badge badge-warning badge-stat badge-icon pull-left"></i>
                                </div>
                                <div class="media-body">
                                    <p class="mar-no text-main">Betty Murphy</p>
                                    <small>5 hours ago</small>
                                    <p class="pad-top text-sm">quis nostrud exerci tation ullamcorper</p>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="media-left pos-rel">
                                    <img class="img-circle img-xs" src="img/profile-photos/9.png" alt="Profile Picture">
                                    <i class="badge badge-danger badge-stat badge-icon pull-left"></i>
                                </div>
                                <div class="media-body">
                                    <p class="mar-no text-main">Samantha Reid</p>
                                    <small>2 weeks ago</small>
                                    <p class="pad-top text-sm">sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="fluid">

                        <div class="blog blog-list">

                            <!-- Panel  Blog -->
                            <!--===================================================-->
                            <div class="panel">
                                <div class="blog-header">
                                    <img class="img-responsive" src="/img/shared-img-5.jpg" alt="Image">
                                </div>
                                <div class="blog-content">
                                    <div class="blog-title media-block">
                                        <div class="media-right textright">
                                            <a href="#" class="btn btn-icon demo-psi-twitter icon-lg add-tooltip" data-original-title="Twitter" data-container="body"></a>
                                            <a href="#" class="btn btn-icon demo-psi-instagram icon-lg add-tooltip" data-original-title="Instagram" data-container="body"></a>
                                        </div>
                                        <div class="media-body">
                                            <a href="#" class="btn-link">
                                                <h2>Far far away, behind the word mountains</h2>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="blog-body">
                                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. </p>
                                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. </p>
                                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. </p>
                                    </div>
                                </div>
                                <div class="blog-footer">
                                    <div class="media-left">
                                        <span class="label label-success">5 Days ago</span>
                                    </div>
                                    <div class="media-body text-right">
                                        <span class="mar-rgt"><i class="demo-pli-heart-2 icon-fw"></i>519</span>
                                        <i class="demo-pli-speech-bubble-5 icon-fw"></i>23
                                    </div>
                                </div>
                            </div>
                            <!--===================================================-->





                            <!-- Panel  Blog -->
                            <!--===================================================-->
                            <div class="panel">
                                <div class="blog-header">
                                    <div class="bg-info blog-img-sm text-center">
                                        <h3 class="text-light"><i class="demo-pli-mail-send icon-4x"></i></h3>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-title media-block">
                                        <a href="#" class="btn-link">
                                            <h2>Blazzing fast</h2>
                                        </a>
                                    </div>
                                    <div class="blog-body">
                                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                                        <p>I must explain to you how all this mistaken idea of denouncing pleasure was born and I will give you a complete account of the system.</p>
                                    </div>
                                </div>
                                <div class="blog-footer">
                                    <div class="media-left">
                                        <label class="label label-primary">Feature</label>
                                        <label class="label label-default">New</label>
                                        <label class="label label-default">Modern</label>
                                    </div>
                                    <div class="media-body text-right">
                                        <span class="mar-rgt"><i class="demo-pli-heart-2 icon-fw"></i>65</span>
                                        <i class="demo-pli-speech-bubble-5 icon-fw"></i>8
                                    </div>
                                </div>
                            </div>
                            <!--===================================================-->




                            <!-- Panel  Blog -->
                            <!--===================================================-->
                            <div class="panel bg-mint">
                                <div class="blog-content">
                                    <div class="blog-title media-block">
                                        <a href="#" class="btn-link">
                                            <h2>The European languages</h2>
                                        </a>
                                    </div>
                                    <div class="blog-body">
                                        <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
                                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. </p>
                                    </div>
                                </div>
                                <div class="blog-footer">
                                    <div class="media-left">9 Days ago</div>
                                    <div class="media-body text-right">
                                        <span class="mar-rgt"><i class="demo-pli-heart-2 icon-fw"></i>456</span>
                                        <i class="demo-pli-speech-bubble-5 icon-fw"></i>22
                                    </div>
                                </div>
                            </div>
                            <!--===================================================-->




                            <!-- Panel  Blog -->
                            <!--===================================================-->
                            <div class="panel">
                                <div class="blog-header">
                                    <div class="bg-warning blog-img-sm">
                                        <blockquote class="bq-open bq-close mar-no">How all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</blockquote>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-title media-block">
                                        <div class="media-right textright">
                                            <a href="#" class="btn btn-icon demo-pli-paperclip icon-lg add-tooltip" data-original-title="Add file" data-container="body"></a>
                                        </div>
                                        <div class="media-body">
                                            <a href="#" class="btn-link">
                                                <h2>Achieve this</h2>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="blog-body">
                                        <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words.</p>
                                        <p>Everyone realizes why a new common language would be desirable.</p>
                                    </div>
                                </div>
                                <div class="blog-footer">
                                    <div class="media-left">17 Days ago</div>
                                    <div class="media-body text-right">
                                        <span class="mar-rgt"><i class="demo-pli-heart-2 icon-fw"></i>75</span>
                                        <i class="demo-pli-speech-bubble-5 icon-fw"></i>2
                                    </div>
                                </div>
                            </div>
                            <!--===================================================-->



                            <!-- Panel  Blog -->
                            <!--===================================================-->
                            <div class="panel">
                                <div class="blog-header">
                                    <img class="img-responsive" src="/img/shared-img.jpg" alt="Image">
                                </div>
                                <div class="blog-content">
                                    <div class="blog-title media-block">
                                        <a href="#" class="btn-link">
                                            <h2>The new common language</h2>
                                        </a>
                                    </div>
                                    <div class="blog-body">
                                        <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words.</p>
                                        <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure. Like these sweet mornings of spring which I enjoy with my whole heart.</p>
                                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                                    </div>
                                </div>
                                <div class="blog-footer">
                                    <div class="media-left">25 Days ago</div>
                                    <div class="media-body text-right">
                                        <span class="mar-rgt"><i class="demo-pli-heart-2 icon-fw"></i>81</span>
                                        <i class="demo-pli-speech-bubble-5 icon-fw"></i>4
                                    </div>
                                </div>
                            </div>
                            <!--===================================================-->



                            <!-- Panel  Blog -->
                            <!--===================================================-->
                            <div class="panel pad-all">
                                <div class="blog-header">
                                    <img class="img-responsive" src="/img/shared-img-3.jpg" alt="Image">
                                </div>
                                <div class="blog-content">
                                    <div class="blog-title media-block">
                                        <a href="#" class="btn-link">
                                            <h2>No one rejects, dislikes</h2>
                                        </a>
                                    </div>
                                    <div class="blog-body">
                                        <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure. Like these sweet mornings of spring which I enjoy with my whole heart.</p>
                                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                                        <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words.</p>
                                    </div>
                                </div>
                                <div class="blog-footer">
                                    <div class="media-left">
                                        <span>1 month ago</span>
                                    </div>
                                    <div class="media-body text-right">
                                        <span class="mar-rgt"><i class="demo-pli-heart-2 icon-fw"></i>52</span>
                                        <i class="demo-pli-speech-bubble-5 icon-fw"></i>7
                                    </div>
                                </div>
                            </div>
                            <!--===================================================-->

                            <ul class="pager pager-rounded">
                                <li class="previous"><a href="#fakelink">← Older</a></li>
                                <li class="next disabled"><a href="#fakelink">Newer →</a></li>
                            </ul>
                        </div>


                    </div>
                </div>

            </div>
            <!--===================================================-->
            <!--End page content-->

        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->





        <!--MAIN NAVIGATION-->
        <!--===================================================-->
        <nav id="mainnav-container">
            <div id="mainnav">


                <!--OPTIONAL : ADD YOUR LOGO TO THE NAVIGATION-->
                <!--It will only appear on small screen devices.-->
                <!--================================
                <div class="mainnav-brand">
                    <a href="index.html" class="brand">
                        <img src="img/logo.png" alt="Nifty Logo" class="brand-icon">
                        <span class="brand-text">Nifty</span>
                    </a>
                    <a href="#" class="mainnav-toggle"><i class="pci-cross pci-circle icon-lg"></i></a>
                </div>
                -->





            </div>
        </nav>
        <!--===================================================-->
        <!--END MAIN NAVIGATION-->

    </div>



    <!-- FOOTER -->
    <!--===================================================-->
    <footer id="footer">

        <!-- Visible when footer positions are fixed -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="show-fixed pad-rgt pull-right">
            You have <a href="#" class="text-main"><span class="badge badge-danger">3</span> pending action.</a>
        </div>



        <!-- Visible when footer positions are static -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="hide-fixed pull-right pad-rgt">
            14GB of <strong>512GB</strong> Free.
        </div>



        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <p class="pad-lft">&#0169; 2018 Your Company</p>



    </footer>
    <!--===================================================-->
    <!-- END FOOTER -->


    <!-- SCROLL PAGE BUTTON -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->
</div>
<!--===================================================-->
<!-- END OF CONTAINER -->





<!--JAVASCRIPT-->
<!--=================================================-->

<!--jQuery [ REQUIRED ]-->
<script src="/js/jquery.min.js"></script>


<!--BootstrapJS [ RECOMMENDED ]-->
<script src="/js/bootstrap.min.js"></script>


<!--NiftyJS [ RECOMMENDED ]-->
<script src="/js/nifty.min.js"></script>




<!--=================================================-->

<!--Demo script [ DEMONSTRATION ]-->
<script src="/js/demo/nifty-demo.min.js"></script>




</body>
</html>
